---
layout: default
---

<div class="posts">
  {% assign posts = site.posts %}
  {% if paginator %}
    {% assign posts = paginator.posts %}
  {% endif %}
  {% for post in posts %}
    <div class="post">
      <h2 class="post-title">
        <a href="{{ post.url | relative_url }}">
          나르미란?
        </a>
      </h2>
      <p class="post-excerpt">
        양산 할머니, 할아버지들과 청년이 함께하는 협동조합!<br>
        할머니, 할아버지는 양산지역의 택배를 나르고,<br>
        청년들은 협동조합의 운영을 위해 개발하고,<br>
        양산나르미협동조합은 지속가능한 발전을 위해 힘쓰고 있습니다.
      </p>
    </div>
  <div class="post">
    <h2 class="post-title">
      <a href="{{ post.url | relative_url }}">
        Back-End 개발자 소개
      </a>
    </h2>
    <p class="post-excerpt">

    </p>
  </div>
  <div class="post">
    <h2 class="post-title">
      <a href="{{ post.url | relative_url }}">
        Front-End 개발자 소개
      </a>
    </h2>
    <p class="post-excerpt">

    </p>
  </div>
  {% endfor %}
</div>

{% if paginator %}
  <div class="pagination pure-g">
    {% if paginator.next_page %}
      <a class="pagination-item older pure-u-1-2 pure-button" href="{{ paginator.next_page_path | relative_url }}"><i class="fas fa-chevron-left"></i></a>
    {% else %}
      <span class="pagination-item older pure-u-1-2 pure-button pure-button-disabled"><i class="fas fa-chevron-left"></i></span>
    {% endif %}
    {% if paginator.previous_page %}
      <a class="pagination-item newer pure-u-1-2 pure-button" href="{{ paginator.previous_page_path | relative_url }}"><i class="fas fa-chevron-right"></i></a>
    {% else %}
      <span class="pagination-item newer pure-u-1-2 pure-button pure-button-disabled"><i class="fas fa-chevron-right"></i></span>
    {% endif %}
  </div>
{% endif %}
