---
layout: default
---

<div class="posts">
  {% assign posts = site.posts %}
  {% if paginator %}
    {% assign posts = paginator.posts %}
  {% endif %}
  {% for post in posts %}
    <div class="post">
      <h2 class="post-title">
<!--        <a href="{{ post.url | relative_url }}">-->
          나르미란?
<!--        </a>-->
      </h2>
      <p class="post-excerpt">
        양산 할머니, 할아버지들과 청년이 함께하는 협동조합!<br>
        할머니, 할아버지는 양산지역의 택배를 나르고,<br>
        청년들은 협동조합의 운영을 위해 개발하고,<br>
        양산나르미협동조합은 지속가능한 발전을 위해 힘쓰고 있습니다.
      </p>
    </div>
  <div class="post">
    <h2 class="post-title">
        Back-End 개발자 소개
    </h2>
    <p class="post-excerpt">

    </p>
  </div>
  <div class="post">
    <h2 class="post-title">
        Front-End 개발자 소개
    </h2>
    <div class="post-excerpt">
      Techincal Skills
      <div class="btn_skill">Html</div>
      <div class="btn_skill two">Css</div>
      <div class="btn_skill ">Scss</div>
      <div class="btn_skill two">Ajax</div>
      <div class="btn_skill">Node.js</div>
      <div class="btn_skill two">Javascript</div>
      <div class="btn_skill">Typescript</div>
      <div class="btn_skill two">React</div>
      <div class="btn_skill">Git</div>
      <div class="btn_skill two">Jira</div>
      <ul>
        <li>웹 표준을 준수하고, 의미론에 따라 유의미한 마크업을 위해 노력합니다.</li>
        <li>jquery > Vanilla JS 전환 작업</li>
        <li>Vanilla JS > React JS 전환 작업</li>
        <li>반응형 웹에 대한 경험이 있고, 크로스브라우징 완성도를 높이기 위해 힘씁니다.</li>
        <li>Gib / Jira를 통한 협업 경험이 있습니다.</li>
        <li>Photoshop, Zeplin을 통한 디자이너와 협업 경험이 있습니다.</li>
        <li>Node.js 모듈을 통한 개발 경험이 있습니다.</li>
      </ul>
    </div>
    <p class="post-excerpt">
      Work Experience (2017~)
      <ul>
        <li>(주)비트컴퓨터 : JAVA 기반 Database 개발자 양성과정 수료</li>
        <li>회원관련 서비스(회원가입, 회원탈퇴, 휴면회원, 실명인증-나이스 인증) 담당</li>
        <li>전체적인 이벤트 페이지 퍼블리싱 및 Ajax 담당</li>
        <li>모바일 QR 결제 담당</li>
        <li>차트(트레이딩 뷰)를 적용한 오토트레이딩 서비스</li>
        <li>코인(BTC / ETH / ERC20 / BEP20) 지갑생성 및 전송 스크립트 개발</li>
      </ul>
    </p>
  </div>
  {% endfor %}
</div>

{% if paginator %}
  <div class="pagination pure-g">
    {% if paginator.next_page %}
      <a class="pagination-item older pure-u-1-2 pure-button" href="{{ paginator.next_page_path | relative_url }}"><i class="fas fa-chevron-left"></i></a>
    {% else %}
      <span class="pagination-item older pure-u-1-2 pure-button pure-button-disabled"><i class="fas fa-chevron-left"></i></span>
    {% endif %}
    {% if paginator.previous_page %}
      <a class="pagination-item newer pure-u-1-2 pure-button" href="{{ paginator.previous_page_path | relative_url }}"><i class="fas fa-chevron-right"></i></a>
    {% else %}
      <span class="pagination-item newer pure-u-1-2 pure-button pure-button-disabled"><i class="fas fa-chevron-right"></i></span>
    {% endif %}
  </div>
{% endif %}
